{% extends 'base.html' %}

{% block container %}

    <form id = addClass action ="/addClass" method = "post">
    			
        <legend>Add Class</legend>
        
        <label>Class Name: <input type ="text" name ="className" maxlength="255">
        
        <br/><br/>

        <label>Bonus Stats for Class: <input type ="number" name ="bonusStat" maxlength="2" min="0" max="20">
        
        <br></br>

        <label>Bonus Stat Name: </label>

        <select name = "statBonusName">
            <option value = "dexterity"> Dexterity </option>
            <option value = "strength"> Strength </option>
            <option value = "endurance"> Endurace </option>
            <option value = "intelligence"> Intelligence </option>
        </select>

        <br></br>

        <input type="submit" value="Add Class">
    </form>

    <br>

{% endblock %}