{% extends 'base.html' %}

{% block container %}

    <form id="addCharacter" action ="/addCharacter" method = "post">

        <legend>Add Character:</legend>

        <fieldset>
			    
			<label> First Name:  <input type ="text" name ="firstName" maxlength="255"></label>
            
			<br><br>

			<label> Last Name: <input type ="text" name ="lastName" maxlength="255" >
            
            <br><br>
			
			<label>Strength:  <input type ="number" name ="strength" size="1" min="1" max="20" ></label>
            
			<br><br>

			<label>Dexterity: <input type ="number" name ="dexterity" size="1" min="1" max="20"></label>
            
			<br><br>

			<label>Endurance <input type ="number" name ="endurance" size="1" min="1" max="20"></label>
            
			<br><br>

			<label>Intelligence: <input type ="number" name ="intelligence" size="1" min="1" max="20"></label>

            <br><br>
			
            <label>Select Guild: </label>
            
                <select name= "guilds">

                   
                        {% for g in guilds %}
                          <option value="{{ g[0] }}" > {{ g[1] }}</option>
                        {% endfor %}

                        <option value="noGuild"> No Guild </option>
                    </select>
            
            <br><br>

            <label>Select Class: </label>
            <select name="classes">
                
                    {% for c in classes %}
                      <option value="{{ c[0] }}">{{ c[1] }}</option>
                    {% endfor %}
                </select>
            <p></p>

			<input type="submit" value="Add Character">
		</fieldset>
    </form>

{% endblock %}