
{% extends 'base.html' %}

{% block container %}
  
  <form method = "get" id="characterForm">
      <fieldset>
      
      <legend>Current Characters:</legend>
        
        <table border='1'>
          
          <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Strength</th>
              <th>Dexterity</th>
              <th>Endurance</th>
              <th>Intelligence</th>
              <th>Guild</th>
              <th>Class</th>
              
          </thead>
         
          <tbody>
            {% for r in rows %}
            <tr>
              <td> {{ r[0] }}</td>
              <td> {{ r[1] }}</td>
              <td> {{ r[2] }}</td>
              <td> {{ r[3] }}</td>
              <td> {{ r[4] }}</td>
              <td> {{ r[5] }}</td>
              <td> {{ r[6] }}</td>
              <td> {{ r[7] }}</td>
              <td style='white-space: nowrap' class='actionButton'> <input type='button' name='Update' value='Update' onclick="window.location = '/updateCharacter/{{r[8]}}'"> </td>
              <td style='white-space: nowrap' class='actionButton'> <input type='button' name='Delete' value='Delete' onclick="window.location = '/deleteCharacter/{{r[8]}}'"> </td>
            </tr>
            {% endfor %}
         
          </tbody>
      </table>
    </fieldset>  
  </form>

{% endblock %}